

#submitbtn {
    position: absolute;
    }

.body {
    height: 100vh;
}

#mapid {
    width: 50%;
    height: 50%;
    position: absolute;
    height: 180px;
    }

.custom-popup .leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:20px;
  line-height:24px;
}

.button-action{
    height: 40px;
    width: 200px;
    text-decoration: none;
    text-align: center;
    color: white;
    line-height: 26px;
    padding-top: 6px;
    z-index: 5;
}

.button-action:hover{
    background: url('https://i.hizliresim.com/a1zraR.png') no-repeat;
}
